.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 100px;
}
.iframeBox{
    width: 100%;
}
.main iframe{
    margin-top: 200px;
    width: 100%;
    height: 3000px;
    border: none;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    background-color: white;
    text-align: start;
    padding-left: 120px;
}
@media (max-width: 700px) {
    .header h1{
      display: none;
    }
    .header img {
        position: fixed;
        top: 5;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999; /* Adjust as needed */
    }

    .main iframe{
        height: 4800px;
    }
}