.backButton{
    background: none;
    border: none;
    position: fixed;
    left: 2%;
    top: 5%;
}
.backButton:hover{
    cursor: pointer;
    background-color: azure;
}
@media (max-width: 700px) {
    .backButton{
        background: none;
        border: none;
        position: fixed;
        left: 10%;
        top: 5%;
    }
}