.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 100px;
}
.iframeBox{
    width: 100%;
}
.main iframe{
    width: 100%;
    height: 1000px;
    border: none;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    background-color: white;
    text-align: start;
    padding-left: 120px;
}
.body {
    margin-top: 150px;
    
}
.body h3 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(3, 59, 143);
}
.body h5 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.group {
    margin-bottom: 20px;
}
.group button{
    background: none;
    border: none;
    padding: 2px 5px ;
}
.group button:hover{
    color:  rgb(3, 59, 143);
    cursor: pointer;
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
    background-color: lemonchiffon;
}
.imgBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.image{
    border-radius: 30px;
    margin-bottom: 50px;
}
/* .tableHeadColumn{
    border-bottom: 1px solid rgb(3, 59, 143);
    padding: 5px 5px;
}
.cell{
    text-align: center;
    padding-top: 10px; 
    padding-bottom: 10px;
}
.table{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.icon{
    margin-left: 5px;
}
.mission{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mission h3 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(3, 59, 143);
}
.mission h5 {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.mission form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission form button{
    padding: 20px;
    border-radius: 10px;
    border: none;
    
}
.mission form button:hover{
    background-color: aliceblue;
    cursor: pointer;
}
.passcode{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table {
    text-align: center;
    padding:10px;
    border:1px dashed #888;
  }
  

  
  .dark {
    width: 30px;
    height: 30px;
    background:#333;
    
  }
  
  .input {
    width: 30px;
    height: 30px;
    font-size:17px;
    text-align:center;
    border: 2px solid #222;
  }

  .questions ol{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 20px;
  }
  .questions li{
    padding-bottom: 20px;
  }
.videoBox{
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid  rgb(239, 243, 244);
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height: width) */
}
.videoBox iframe {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-bottom: 30px;
}
.videoBox img {
    border-radius: 20px;
    /* position: absolute; */
    width: 100%;
    height: 400px;
    /* top: 0;
    left: 0; */
    margin-bottom: 30px;
}

@media (max-width: 700px) {
    .header h1{
      display: none;
    }
    .header img {
        position: fixed;
        top: 5;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999; /* Adjust as needed */
    }


    .dark{
        font-size: 8px;
    
    }
    .input{
        font-size: 10px;
        width: 100%;
    }
    .body {
        padding: 10px;
        width: inherit;
    }
    .image{
        width: 100%;
        height: 100%;
    }
}